@font-face {
    font-family: 'MochiyPopPOne-Regular';
    src: url('../font/MochiyPopPOne-Regular.ttf')  format('truetype');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MochiyPopPOne-Regular;
}

html{
    font-size: 10pt;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(0deg, rgba(87,247,255,1) 0%, rgba(6,127,203,1) 100%);
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.leaf{
    position:absolute ;
    width:100%;
    height:100%;
    top:0%;
    left:0;
    z-index: -5;
    overflow-x: hidden;
}
.leaf div{
position:absolute ;
display:block ;
}

.leaf div:nth-child(1){
    top:10%; 
    animation:fall 30s linear infinite ;
    animation-delay:-3s;

}

.leaf div:nth-child(2){
    top:50%; 
    animation:fall 35s linear infinite ;
    animation-delay:-1s;

}

@keyframes fall{
    0%{
        opacity:1;
        left:-10%;
        transform:translateY(20px);
    }
    20%{
        opacity:0.8;
        transform:translateY(-20px);
    }
    40%{

        transform:translateY(20px) ;
    }
    60%{
        
       transform:translateY(-20px); 
    }
    80%{
    
        transform:translateY(20px);
    }
    100%{
        
        left:100%;
        transform:translateY(-20px);
    }
    }

.home-title{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    padding-bottom: 70px;
}

@keyframes showText {
    from{
        color: transparent;
    }
    to{
        color: #fff;
    }
  }

.home-title > p{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18pt;
    color: transparent;
    animation-name: showText;
    animation-duration: .5s; 
    animation-timing-function: ease;
    animation-fill-mode:  forwards;
    animation-delay: 1.4s; 
}

@keyframes showBox {
    50%{
        left: 0;
        width: 100%;
    }
    100%{
        left: 100%;
        width: 0;
    }
  }

.home-title > p > span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(255, 255, 255);
    animation-name: showBox;
    animation-duration: 1s; 
    animation-timing-function: ease;
    animation-delay: 1s; 
}

.home-title > p:last-child > span{

    animation-delay: 1.6s; 
}

.home-title > p:last-child{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14pt;
    animation-delay: 2s;
}

.home-title > img{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: solid 2px white;
  background-color: transparent;
  object-fit: cover;

}


#homeSection{
    /* background: linear-gradient(0deg, rgba(87,247,255,1) 0%, rgba(84,91,251,1) 100%); */
    position: relative;
    z-index: 1;
}

#homeSection::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: black; */
    opacity: .4;
    z-index: -1;
}

hr{
    width: 50%;
    border-width: 1px;
    background-color: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
    margin-block: 0;
    margin-inline: 0;
    border-style: solid;

}

.game-card{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: red; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-top{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
    flex-wrap: wrap;
    width: 100%;
    min-height: 40vh;
    padding: 2%;
    

}

.card-top > div:first-child{
    /* background-color: aqua; */
    width: 49%;
    height: auto;
    display: block;
    padding: 10px;
    margin-right: 1%;
    min-height: 40vh;
    border: 5px solid #fff;
    border-radius: 5px;
    
}

.card-top > div:last-child{
    /* background-color: yellow; */
    width: 49%;
    height: auto;
    display: block;
    padding: 10px;
    margin-left: 1%;
    min-height: 40vh;
}

.card-bottom{
    display: flexbox;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    width: 100%;
    padding: 10px;

    overflow: auto;
    white-space: nowrap;
}

.card-img{
    /* background-color: purple; */
    min-width: 200px;
    min-height: 200px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

    border: 5px solid #fff;
    border-radius: 5px;
    
}

.card-img:first-child{
    margin-left: 0;
}

.card-img:last-child{
    margin-right: 0;
}

.card-title{
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
}

.card-author{
    font-size: 14pt;
    font-style: italic;
    text-align: left;
}

.card-description{
    font-size: 12pt;
    text-align: justify;
}



#projectSection{
    /* background-color: brown; */
}

#projectSection > .container{
    flex-direction: column;
    text-align: center;
}

footer{
    /* background-color: rgb(182, 182, 182); */
    min-height: 30vh;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    z-index: 1;
    overflow: hidden;
    flex-wrap: wrap;

    
}

.footer-item{
    /* background-color: burlywood; */
    display: flex;
    flex-direction: column;
    width: 30%;
    
    
}

@media only screen and (max-width: 700px) {
    .footer-item {
        min-width: 100%;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card-top > div:first-child{
        width: 100%;
        margin-right: 0;
        margin-bottom: 1%;
    }

    .card-top > div:last-child{
        width: 100%;
        margin-left: 0;
        margin-top: 1%;
    }
  }

.footer-title{
    font-size: 20pt;
    font-weight: bold;
    text-align: start;
    margin-bottom: 10px;
}

.footer-item-content{
    margin: 10px;
}



